:root {
  --main-background-color: #1e1e1e;
  --main-text-color: #f0f0f0;
  --error-text-color: #c03d25;
  --highlight-text-color: #ffffff;
  --edge-background-color: #2e2e2e;
  --info-background-color: #2e2e2e;
  --highlight-background-color: #3e3e3e;
  --select-background-color: #3a3844;
  --modal-background-color: #2e2e2e;
  --alt-list-background-color: #2e2e2e;
  --button-disabled-color: #808080;
  --button-disabled-background: #3e3e3e;
  --spinner-color: #5e5e5e;
  --property-border-color: #808080;
  --minor-text-color: #c0c0c0;
  --minor-background-color: #505050;
  --disabled-text-color: #808080;
  --placeholder-text-color: #606060;
  --urgent-text-color: #c03d25;
  --emphasis-text-color: #347794;
  --error-border-color: #c03d25;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 40px;
  background-color: var(--info-background-color);
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: hidden;
  background-color: var(--info-background-color);
}
.body .col {
  width: 210px;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 10px;
}
.body .info {
  flex: 1;
  padding: 20px;
  border-top-left-radius: 20px;
  background-color: var(--main-background-color);
}

.section {
  overflow-x: hidden;
  padding-left: 4px;
}
.section-header {
  padding-top: 4px;
  font-size: 1.1rem;
}

.node-filter {
  width: 200px;
  margin: 10px;
  border-radius: 15px;
  background-color: var(--main-background-color);
  border: 1px solid var(--property-border-color);
}
.node-filter input {
  padding: 5px 5px 5px 10px;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  color: var(--main-text-color);
  font-size: 14px;
}
.node-filter input::placeholder {
  color: var(--placeholder-text-color);
}

.section-body {
  padding: 4px 0;
  font-size: 0.75rem;
  color: var(--minor-text-color);
}
.section-body .host-item, .section-body .host-item-keep {
  padding: 2px 0;
}
.host-item-name {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.node-info {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.node-properties {
  width: 400px;
  color: var(--main-text-color);
  line-height: 1.25rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.node-properties table {
  width: 100%;
}
.node-properties td {
  vertical-align: top;
}
.node-properties td:first-child {
  width: 125px;
}
.node-properties td:last-child {
  color: var(--minor-text-color);
}
.node-properties tr.name td {
  color: var(--main-text-color);
  font-size: 1.25rem;
  padding-bottom: 5px;
}
.node-properties tr.name td a {
  color: inherit;
  text-decoration: inherit;
}
.node-properties tr.description td {
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 5px;
}
.node-properties tr.location td {
  padding-top: 5px;
}

.node-map {
  flex: 1;
  min-width: 600px;
  min-height: 600px;
  margin-left: 30px;
}
#node-map-id {
  width: 100%;
  height: 100%;
}

.node-link {
  color: inherit;
  text-decoration: none;
}
.node-peer-header td {
  padding-top: 16px;
}
.node-snr {
  font-size: 8px;
  line-height: 8px;
}
.local-snr {
  padding-right: 8px;
}
.distance {
  padding-left: 6px;
  color: var(--minor-text-color);
}
.null-snr {
  color: var(--disabled-text-color);
}

.node-all, .node-all-map {
  width: 100%;
  height: 100%;
}
